/* About */

#about{
  position: relative;
  height: 95vh;
  background-image: url(../images/about-us.jpg);
  background-position: center;
  background-size: cover;
}
  

.container-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-about-h1 h1 {
  color: $color-dark;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
}

.container-about-h1 span::after {
  height: 5px;
  content: "";
  width: 650px;
  margin-top: 30px;
  margin-left: 150px;
  display: block;
  background-color: $color-dark;
}


.main-carousel{
  height: 500px;
}
.carousel-cell{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  img{
    width: 300px;
    height: 300px;
  }
}
.inside-carosusel-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    text-transform: uppercase;
  }
  :nth-child(3){
    font-style: italic;
  }
}

@media screen and (max-width:767px) {
  .container-about-p{ 
    padding: 24px 10px;

    p {
      font-size: 24px;
      text-align: center;
    }
  }
  
  .container-about-p p:nth-last-child(1) {
    margin: 0 auto;
  }

  .container-about-h1 span::after{
    height: 5px;
    content: "";
    width: 150px;
    margin: 30px auto;
    display: block;
    background-color: $color-dark;
  }
}