*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  font-size: 14px;
  line-height: 1.7;
  color: $color-black;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}
footer{
  text-align: center;
  padding: 20px ;
}
