/* header*/

.header-main {
  height: 100vh;
  color: $color-light;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    opacity: 0.8;
    filter: contrast(120%),brightness(0.3);
    
  }
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    
}


.container-header-top{
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.logo{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
    
} 

.nav a{
  text-decoration: none;
  color: lightgrey;
  text-transform: uppercase;
  margin-right: 20px;
  letter-spacing: 2px;
}

.container-header-mid {
    
  font-weight: 900;
  font-size: 45px;
  color: $color-dark;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 12px;
  margin: 0;
  line-height: 90px;

  h1 {
    margin: 0;
  }

  .left{
    text-align: left;
  }

  .right{
    text-align: right;
    position: relative;
    display: block;
  }

  .right::after{
    height: 5px;
    content: "";
    width: 300px;
    margin-top: 30px;
    margin-left: 290px;
    display: block;
    background-color: $color-dark;
  }
}

.container-header-bottom{
  margin-bottom: 80px;
  font-size: 28px;
  color: $color-light;
  text-align: center;

  h3{
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 400;
        
  }

  i{
    font-size: 30px;
  }
}
