/* header*/

.header-main {
  height: 100vh;
  color: $color-light;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    opacity: 0.8;
    filter: contrast(120%),brightness(0.3);
  }
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-header-top{
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.logo{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
    
} 

.nav a {
  text-decoration: none;
  color: lightgrey;
  text-transform: uppercase;
  margin-right: 20px;
  letter-spacing: 2px;
}

.container-header-mid {
    
  font-weight: 900;
  font-size: 45px;
  color: $color-dark;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 12px;
  margin: 0;
  line-height: 90px;

  h1 {
    margin: 0;
  }

  .randomTitle::after { 
    height: 5px;
    content: "";
    width: 300px;
    margin: 30px auto;
    display: block;
    background-color: $color-dark;
  }
}

.randomTitle {
  display: block;
  font-size: 90px;
  letter-spacing: 13px;
  word-spacing: 40px;
  text-align: center;
  
}

.container-header-bottom {
  margin-bottom: 90px;
  font-size: 28px;
  color: $color-light;
  text-align: center;

  h3{
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 400;
        
  }

  i {
    font-size: 30px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    font-size: 28px;
    color: $color-light;
  }
}
/* menu hambuerger*/

.menu-button-container {
  position: absolute;
  top: 20px;
  right: -10px;
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
  
.menu-toggle {
  display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

.menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

.menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
/* media */

/*hamburger menu */

@media screen and (max-width: 767px) {
  /* header-top*/
  
  .container-header-top {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .logo {
    margin-right: 50px;
  }
  
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .nav {
    margin-top: 10px;
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;

    a {
      font-size: 20px;
    }
  } 

  .menu-button-container { 
    display: flex;
  }

  .menu-toggle:checked ~ .nav {
    display: flex;
  }
  
  /* header-mid*/
  
  .container-header-mid {
    font-size: 30px;
   
    .randomTitle:after {
      height: 5px;
      content: "";
      width: 150px;
      margin: 0 auto;
      display: block;
      background-color: $color-dark;
    }

    .randomTitle{
      font-size: 48px;
      word-spacing: 14px;
    }
  } 
}